<%- include("../partials/header.ejs") %>

<div id="header">
    <div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Redwire.codes</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="/block">Know More</a></div>
    </div>
</div>
</div>



<%- include("../partials/footer.ejs") %>
